* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
}

.clock {
  width: 150px;
  height: 150px;
  background: #ddd;
  border-radius: 50%;
  border: 5px solid #444;
  position: relative;
  box-shadow: 3px 2px 5px 1px #b3b3b3, -3px 2px 5px 1px #b3b3b3;
}

.clock-num {
  position: absolute;
  width: 1px;
  height: 5px;
  background: #000;
  left: 50%;
  transform: translate(-50%, 0px);
  top: 0;
  transform-origin: 50% 70px;
}

.clock-num:nth-of-type(5),
.clock-num:nth-of-type(20),
.clock-num:nth-of-type(35),
.clock-num:nth-of-type(50) {
  width: 3px;
  height: 10px;
}

.center-point {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #111;
  z-index: 10;
}

.sec-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #de5c5c;
  width: 2px;
  height: 49px;
  transform-origin: top;
}

.no-transition {
  transition: none;
}
