* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
}

.clock {
  width: 150px;
  height: 150px;
  background: #fff;
}

.clock-hours {
  width: 150px;
  height: 150px;
  position: relative;
  padding: 0;
  margin: 0;
  border: 5px solid #000;
  border-radius: 50%;
}

.clock-hour {
  width: 0px;
  height: 60px;
  background: #222;
  position: absolute;
  transform-origin: left;
  left: calc(50% - 0px);
  top: calc(50% - 0px);
  transform: translate(-50%) rotate(-180deg);
  transform-origin: top;
}

.clock-hour:nth-of-type(2){
  transform: translate(-50%) rotate(-150deg);
}

.clock-hour:nth-of-type(3){
  transform: translate(-50%) rotate(-120deg);
}

.clock-hour:nth-of-type(4){
  transform: translate(-50%) rotate(-90deg);
}

.clock-hour:nth-of-type(5){
  transform: translate(-50%) rotate(-60deg);
}

.clock-hour:nth-of-type(6){
  transform: translate(-50%) rotate(-30deg);
}

.clock-hour:nth-of-type(7){
  transform: translate(-50%) rotate(0deg);
}

.clock-hour:nth-of-type(8){
  transform: translate(-50%) rotate(30deg);
}

.clock-hour:nth-of-type(9){
  transform: translate(-50%) rotate(60deg);
}

.clock-hour:nth-of-type(10){
  transform: translate(-50%) rotate(90deg);
}

.clock-hour:nth-of-type(11){
  transform: translate(-50%) rotate(120deg);
}

.clock-hour:nth-of-type(12){
  transform: translate(-50%) rotate(150deg);
}


.clock-hour::after{
  content: "";
  display: block;
  height: 5px;
  width: 5px;
  position: absolute;
  top: 65px;
  left: 0px;
  background: #ddd;
}